[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

*.swp
*.sln
*.userprefs
*.pidb
*.psess
*.vsp
*.vspx
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

.vscode/

.idea/
*.sln.iml

/Assets/AssetStoreTools*

*.meta

/[Cc]ache/
